{% extends 'page.html' %}
{% load i18n %}

{% block styles %}

<style>
    ul.errorlist {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
        list-style-type: none;
        color: #B94A48
    }
</style>

{% endblock %}

{% block title %}Confirm Password Reset{% endblock %}

{% block page %}

{% if validlink %}

<h1>Password Reset</h1>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post" class="form-horizontal">{% csrf_token %}
{{ form.non_field_errors }}
<div class="control-group">
<label for="id_new_password1" class="control-label">New password:</label>
<div class="controls">{{ form.new_password1 }}
{{ form.new_password1.errors }}
</div></div>
<div class="control-group">
<label for="id_new_password2" class="control-label">Confirm password:</label>
<div class="controls">
{{ form.new_password2 }}
{{ form.new_password2.errors }}
</div>
</div>
<div class="control-group">
<div class="controls"><input type="submit" value="Change Password" class="btn"/></div></div>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
